body, html {
  background: #FFFFFF;
  height: 100%;
  margin: 0;
}

#site-header {
	display: inline-block;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 2.5rem;
	vertical-align: middle;
	padding-left: 2px;
}

#kitchen-logo {
	width: 40px;
}

#expanded-options {
	margin-left: 4em;
}

.background-picture {
	background-image: url("../img/fork.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.index-header {
	color: #FFFFFF;
}

.profile-greeting {
	font-size: 5em;
	text-align: center;
	padding-top: 7%;
	color: #FFFFFF;
}


.navbar-right {
	margin-left:auto !important;
}

.top-table-header {
	margin-top: 1em;
}

.recipe-update-header {
	display: inline;
}

.update-container {
	margin-top: 1em;
	margin-bottom: 1em;
}

.form-update {
	display: inline;
}
