<div class="container">
	<form action="/explore_ingredients" method="POST">
		<divf class="form-row">
			<div class="col-sm-5 my-1">
				<input type="text" class="form-control" name="name" placeholder="Ingredient">
			</div>
			<div class="col-sm-2 my-1">
				<input type="text" class="form-control" name="measurement_unit" placeholder="Measurement unit">
			</div>
			<div class="col-sm-2 my-1">
				<input type="text" class="form-control" name="unit_cost" placeholder="Unit cost">
			</div>
			<div class="col-sm-3 my-1">
				<button type="submit" class="btn btn-primary btn-block">Add ingredient</button>
			</div>
		</div>
	</form>
</divf>