<nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light container">
	<div onclick="location.href='/';" style="cursor: pointer;" class="site-header">
		<img id="kitchen-logo" src="../../static/img/kitchen.png" alt="kitchen.png">
		<div id="site-header">Reverse cook</div>
	</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="expanded-options" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Add recipes</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/find_recipes">Find recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/explore_ingredients">Explore ingredients</a>
      </li>
      
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>