{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h3 class="top-table-header">My recipes</h3>
	{% include 'snippets/form.html' %}
	{% if my_recipes|length < 1 %}
	<p>There is nothing to cook for now :(</p>
	{% else %}
	<table class="table">
		<thead>
			<tr>
				<th>Recipes</th>
				<th>Added</th>
			</tr>
		</thead>
		<tbody>
			{% for my_recipe in my_recipes %}
			<tr>
				<td><a href="/update_recipe/{{ my_recipe.id }}">{{ my_recipe.name }}</a></td>
				<td>{{ my_recipe.created_at.date() }}</td>
				<td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/{{ my_recipe.id }}" role="button">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}

	<h3>Community recipes</h3>
	{% if community_recipes|length < 1 %}
	<p>There is nothing to cook for now :(</p>
	{% else %}
	<table class="table">
		<thead>
			<tr>
				<th>Recipes</th>
				<th>Added</th>
				<th>Created by</th>
			</tr>
		</thead>
		<tbody>
			{% for community_recipe in community_recipes %}
			<tr>
				<td><a href="/view_recipe/{{ community_recipe.id }}">{{ community_recipe.name }}</a></td>
				<td>{{ community_recipe.created_at.date() }}</td>
				<td>{{ community_recipe.created_by }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% endif %}
</div>
{% endblock content %}
