{% extends 'base.html' %}

{% block content %}
<div class="container">
	{% include 'snippets/form.html' %}
	{% if recipes|length < 1 %}
	<p>There is nothing to cook for now :(</p>
	{% else %}
	<table class="table">
		<thead>
			<tr>
				<th>Recipes</th>
				<th>Added</th>
			</tr>
		</thead>
		<tbody>
			{% for recipe in recipes %}
			<tr>
				<td><a href="/update/{{ recipe.id }}">{{ recipe.name }}</a></td>
				<td>{{ recipe.created_at.date() }}</td>
				<td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/{{ recipe.id }}" role="button">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	{% include 'snippets/navigation_buttons.html' %}
</div>
{% endblock content %}
