{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h2 class="my-4">{{ recipe.name }}</h2>
	<form action="/update/{{ recipe.id }}" method="POST">
		<divf class="form-row">
			
			<div class="col-sm-9 my-1">
				<input type="text" class="form-control" name="name" value="{{ recipe.name }}">
			</div>
			<div class="col-sm-3 my-1">
				<button type="submit" class="btn btn-primary btn-block">Update name</button>
			</div>
		</div>
	</form>
	{% include 'snippets/add_ingredients.html' %}
	{% include 'snippets/list_ingredients.html' %}
</div>

{% endblock content %}